html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #101010;
  color: white;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.file-selector {
  margin: 4em;
  border: 3px dotted rgb(50, 50, 50);
  background-color: rgba(0, 0, 0, 0.5);
  transition: .1s;
}

.wrapped-input input {
  opacity: 0;
}

.plyr__video-wrapper video {
  height: 100vh !important;
}